@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.padding {
    padding: 0 20px;
}

$text-color: #333333;
$font-family-tecflix: "Roboto Mono";
$font-family: "Roboto";
$primary-color: #1050A4;
$primary-color-effect: #1050a4e3;
$white: #fff;
$off-white: #fafafa;
$black: #000;