@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$font-family: "Roboto";
$primary-color: #1050A4;
$primary-color-effect: #1050a4e3;
$white: #fff;
$off-white: #fafafa;
$black: #000;