<app-header-version-one></app-header-version-one>
<main class="main">
    <section class="container">
        <section class="title-container">
            <h1>Inscreva-se</h1>
        </section>
        <div class="card">
            <section class="form-container">
                <form class="form">
                    <input type="text" class="input separator" [formControl]="fullName" placeholder="Nome Completo" maxlength="50">

                    <input type="text" class="input separator" [formControl]="email" placeholder="E-mail" maxlength="50">

                    <app-password-component class="separator" (passwordEmitter)="getPassword($event)"></app-password-component>
                    
                    <button (submit)="submitForm()" class="button-form">Criar Conta</button>
                </form>
            </section>
            <section class="option-container">
                <span class="option">
                    Já possui uma conta? <a routerLink="../login">Fazer login</a>
                </span>
            </section>
        </div>
    </section>
</main>