.container {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
}

.input {
    padding: 10px;
    font-size: 0.9em;
    width: 92%;
    outline: none;
    border: none;
}

.eye-container {
    display: flex;
    align-items: center;

    cursor: pointer;
}