<app-header-version-one></app-header-version-one>
<main class="main">
    <section class="container">
        <section class="title-container">
            <h1>Entre</h1>
        </section>
        <div class="card">
            <section class="form-container">
                <form class="form" (ngSubmit)="submitForm()" [formGroup]="loginForm">
                    <input type="text" class="input separator" id="email" formControlName="email" placeholder="E-mail" maxlength="50">
                    <app-password-component  class="separator" (passwordEmitter)="getPassword($event)" ></app-password-component>
                    <button class="button-form">Fazer Login</button>
                </form>
            </section>
            <section class="option-container">
                <span class="option">
                    Esqueceu a senha? <a routerLink="#">Recuperar Senha</a>
                </span>
                <span class="option">
                    Ainda não possui conta? <a routerLink="../singup">Cadastre-se</a>
                </span>
            </section>
        </div>
    </section>
</main>