<main class="container padding">
    <section class="title-container">
        <ng-content select="h1"></ng-content>
    </section>
    <section class="card">
        <p-carousel
            [value]="allData"
            [numVisible]="3"
            [numScroll]="1"
            [circular]="true"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-item pTemplate="item">
                <div class="border-1 surface-border border-round m-2 p-3">
                    <div class="mb-3">
                        <div class="relative mx-auto" [routerLink]="'course/' + item.course.id">
                            <div class="course-container">
                                <article class="img-container">
                                    <img
                                        [src]="item.course.image_cape"
                                        [alt]="item.course.title"
                                        class="w-full border-round course-img" />
                                </article>
                                <article class="course-description-container">
                                    <h1 class="course-title">
                                        {{ item.course.title }}
                                    </h1>
                                    <h3 class="professor-name">
                                        {{ item.user.full_name }}
                                    </h3>
                                    <div class="rating-container">
                                        <div class="rating">
                                            {{ item.averageRating }}
                                        </div>
                                        <span class="stars-container">
                                            <i class="pi pi-star-fill"></i>
                                            <i class="pi pi-star-fill"></i>
                                            <i class="pi pi-star-fill"></i>
                                            <i class="pi pi-star-fill"></i>
                                            <i class="pi pi-star"></i>
                                        </span>
                                        
                                        <span class="total-ratings">
                                            ({{ item.ratings.length }})
                                        </span>
                                    </div>
                                    <div class="price-container">
                                        {{ item.course.price | currency }}
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </section>
</main>
