<main class="container padding">
    <section class="title-container">
        <ng-content select="h1"></ng-content>
    </section>
    <section class="card">
        <p-carousel
            [value]="cursos"
            [numVisible]="3"
            [numScroll]="1"
            [circular]="true"
            [responsiveOptions]="responsiveOptions">
                <ng-template let-curso pTemplate="item">
                    <div class="border-1 surface-border border-round m-2 p-3">
                        <div class="mb-3">
                            <div class="relative mx-auto" routerLink="course/{{curso.id}}">
                                <div class="course-container">
                                    <article class="img-container">
                                        <img
                                            [src]="curso.imgCapa"
                                            [alt]="curso.titulo"
                                            class="w-full border-round course-img" />
                                    </article>
                                    <article class="course-description-container">
                                            <h1 class="course-title">
                                                {{curso.titulo}}
                                            </h1>
                                            <h3 class="professor-name">
                                                {{curso.professor}}
                                            </h3>
                                            <div class="rating-container">
                                                <div class="rating">
                                                    {{ averageRating(curso.avaliacoes) }}
                                                </div>
                                                <span class="stars-container">
                                                    <i class="pi pi-star-fill"></i>
                                                    <i class="pi pi-star-fill"></i>
                                                    <i class="pi pi-star-fill"></i>
                                                    <i class="pi pi-star-fill"></i>
                                                    <i class="pi pi-star"></i>
                                                </span>
                                                
                                                <span class="total-ratings">
                                                    ({{curso.avaliacoes.length}})
                                                </span>

                                            </div>
                                            <div class="price-container">
                                                {{curso.valor | currency}}
                                            </div>
                                    </article>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </ng-template>
        </p-carousel>
    </section>
</main>