@import '../../../config-scss/variables.scss';

.container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.title-container {
    font-weight: 600;
    font-size: 1.5em;
    padding-bottom: 15px;
}

.relative {
    display: flex;
    justify-content: space-around;
}

.course-container {
    cursor: pointer;

    .img-container {
        padding-bottom: 5px;
        .course-img {
            max-width: 300px;
            height: 150px;
        }
    }

    .course-description-container {
        > * {
            padding-bottom: 3px;
        }
        
        .course-title {
            font-size: 1.2em;
        }

        .professor-name {
            color: gray;
            font-size: 0.8em;
            font-weight: 300;
        }

        .rating-container {
            display: flex;
            align-items: center;
            .rating {
                font-weight: 600;
                color: #B4690E;
            }

            .stars-container {
                font-size: 0.8em;
                letter-spacing: 1px;
                
                padding: 0 6px;
                
                color: #B4690E;
            }

            .total-ratings {
                font-size: 0.8em;
                color: gray;
            }
        }

        .price-container {
            font-weight: 600;
            font-size: 1.2em;
            padding-bottom: 0;
        }
 
    }
}