<header class="header">
    <section class="img-container" routerLink="">
        <img src="../../../assets/logo3.png" alt="Logo TecFlix">
    </section>
    
    <section class="category-container">
        <span>
            Categorias
        </span>
        <i class="pi pi-angle-down"></i>
    </section>
    
    <section class="search-container">
        <i class="pi pi-search"></i>
        <input type="text" [(ngModel)]="searchText" (keyup.enter)="search($event)" class="input" placeholder="Pesquise por algo" maxlength="100">
    </section>
    
    <section class="more-option-container">
        <!-- <span>Seja um professor</span> -->
        <div class="cart-container">
            <i class="pi pi-shopping-cart" style="font-size: 1.2rem;"></i>
        </div>
        <a (click)="navigate('login')" class="button-link">Fazer login </a>
        <a (click)="navigate('singup')" class="button-link">Cadastrar-se </a>
    </section>

    <section class="menu-bars-container">
        <i class="pi pi-bars" style="font-size: 1.2rem;"></i>
    </section>
</header>