<footer class="footer">
    <h1 class="tecflix">tecflix</h1>
    
    <section class="mid-container">
        <article class="slogan">
            <p>Eleve seus conhecimentos de tecnologia a outro nível</p>
        </article>

        <article> 
            <div class="text-container">
                <p>Faça pate do time da TECFLIX</p>
            </div>
            <div class="button-container">
                <button class="teach-tecflix">ensine na tecflix</button>
            </div>
        </article>
        
        <article class="social-container">
            <h2 class="social-title">REDES SOCIAIS</h2>
            <span class="social-icons">
                <i class="pi pi-facebook"></i>
                <i class="pi pi-instagram"></i>
                <i class="pi pi-twitter"></i>
                <i class="pi pi-reddit"></i>
            </span>
        </article>
        
        <article class="contact-container">
            <h2 class="contact-title">CONTATO</h2>
            <span class="contact">55 82 9 8765-4321</span>
        </article>
    </section>
    
    <hr>
    
    <section class="lower-container">
        <div class="footer-links-container">
            <span class="footer-link">políticas de privacidade</span>
            <span class="footer-link">termos e condições</span>
        </div>
        <span class="copyright">&copy; {{year}} Tecflix</span>
    </section>
</footer>